{% extends 'base.html' %}

{% block title %}Add Equipment{% endblock %}

{% block content%}
<div class="container mt-4">
    <h1>Add Equipment</h1>
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.equipment_name.label(class="form-label") }}
            {{ form.equipment_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.lab.label(class="form-label") }}
            {{ form.lab(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.purchase_date.label(class="form-label") }}
            {{ form.purchase_date(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.maintenance_date.label(class="form-label") }}
            {{ form.maintenance_date(class="form-control") }}
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
