{% extends 'base.html' %}

{% block title %}Add Biological Substance{% endblock %}

{% block contenido %}

<div class="container mt-4">
    <h1>Add New Researcher</h1>
    <form method="POST" action="/add_researcher">
        {{ form.csrf_token }}
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name:</label>
            <input type="text" name="first_name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name:</label>
            <input type="text" name="last_name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" name="email" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Phone:</label>
            <input type="text" name="phone" class="form-control">
        </div>

        <div class="mb-3">
            <label for="lab" class="form-label">Lab:</label>
            <input type="text" name="lab" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Add Researcher</button>
    </form>
</div>

{% endblock %}