{% extends 'base.html' %}

{% block title %}Add Lab{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1>Add Laboratory</h1>
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.lab_id.label(class="form-label") }}
            {{ form.lab_id(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.location.label(class="form-label") }}
            {{ form.location(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.supervisor.label(class="form-label") }}
            {{ form.supervisor(class="form-control") }}
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
    
{% endblock %}