{% extends 'base.html' %}

{% block title %}Edit Laboratory{% endblock %}

{% block content %}


<h1>Edit Laboratory</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.lab_name.label(class="form-label") }}
        {{ form.lab_name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.location.label(class="form-label") }}
        {{ form.location(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.supervisor.label(class="form-label") }}
        {{ form.supervisor(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>




{% endblock %}
