{% extends 'base.html' %}

{% block title %}Add Biological Substance{% endblock %}

{% block content %}

<h1>List of Researchers</h1>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Lab</th>
        </tr>
    </thead>
    <tbody>
        <!-- Itera sobre los datos de los investigadores y muéstralos aquí -->
        {% for researcher in researchers %}
        <tr>
            <td>{{ researcher.first_name }}</td>
            <td>{{ researcher.last_name }}</td>
            <td>{{ researcher.email }}</td>
            <td>{{ researcher.phone }}</td>
            <td>{{ researcher.lab }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}