{% extends 'base.html' %}

{% block title %}List of Laboratories{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1>List of Laboratories</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Laboratory</th>
                <th>Location</th>
                <th>Supervisor</th>
                
            </tr>
        </thead>
        <tbody>
            {% for lab in labs %}
            <tr>
                <td>{{ lab.lab_id }}</td>
                <td>{{ lab.location}}</td>
                <td>{{ lab.supervisor }}</td>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
    <ul class="list-group">
        {% for lab in labs %}
            <li class="list-group-item">
                <a href="/view_lab/{{ lab.lab_id }}">{{ lab.lab_name }}</a>
                <a href="/edit_lab/{{ lab.lab_id }}" class="btn btn-primary btn-sm">Edit</a>
                <a href="/delete_lab/{{ lab.lab_id }}" class="btn btn-danger btn-sm">Delete</a>
            </li>
        {% endfor %}
    </ul>
</div>
