{% extends 'base.html' %}

{% block title %}Add Biological Substance{% endblock %}

{% block contenido %}


<h1>Welcome to the Lab Inventory System</h1>
<p>This is the main page of our Lab Inventory System. You can navigate to different sections of the application using the links below:</p>
<ul class="list-group">
    <li class="list-group-item"><a href="/list_labs">List Laboratories</a></li>
    <li class="list-group-item"><a href="/add_lab">Add New Laboratory</a></li>
    <li class="list-group-item"><a href="/list_equipment">List Equipment</a></li>
    <li class="list-group-item"><a href="/add_equipment">Add New Equipment</a></li>
    <li class="list-group-item"><a href="/add_researcher">Add Researcher</a></li>
    <li class="list-group-item"><a href="/add_chemical_substance">Add Chemical Substance</a></li>
    <li class="list-group-item"><a href="/add_biological_substance">Add Biological Substance</a></li>
    <!-- Add more links for other sections as needed -->
</ul>
{% endblock %}